<h1> Edit Up </h1>


<form action="<%=cat_url(@cat)%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <%= render "form", cat: @cat%>

  <input type='submit' value='Edit Up'>
</form>
