<h1>Log In</h1>

<form action= <%= session_index_url %> method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label for="email">Email:</label>
  <input type="text" name="user[email]">

  <label for="password">Password:</label>
  <input type="text" name="user[password]">

  <input type="submit" value="Log me in!">

</form>
