<!-- CSS
HTML
Javascript
Ruby

Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100% -->
<section class="masthead">
  <section class="language-nav">
    <ul>
      <li>
        <a href="#">CSS</a>
      </li>

      <li>
        <a href="#">HTML</a>
      </li>

      <li>
        <a href="#">Javascript</a>
      </li>

      <li>
        <a href="#">Ruby</a>
      </li>
    </ul>
  </section>

  <img src="/assets/AA_Times_Logo.png" alt="" class="logo">


    <ul class="masthead-links">
      <li><a href="#">Tuesday, October 18, 2016</a></li>
      <li><a href="#">
        <button>
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          Today's Paper
        </button>
      </a></li>

      <li><a href="#">
        <button type="button" name="button">
          <i class="fa fa-video-camera" aria-hidden="true"></i>
          Video
        </button>
      </a></li>

      <li><a href="#">77°F</a></li>
      <li><a href="#">AAO +100%</a></li>
    </ul>

</section>
